.cf:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.cf { display: inline-block; }
/* start commented backslash hack \*/
* html .cf { height: 1%; }
.cf { display: block; }
/* close commented backslash hack */

/* Default Classes */

body{
	font-family: arial;
}

/* Middle Fix Content */
.holder{
	height: 905px;
}

.wrapper{
	position: relative;
	margin: 60px auto auto auto;
	width: 1100px;
	height: 800px;
	border: solid black 2px;
	border-radius: 30px;
}

.middle_fix{
	margin: 10px;
}

/* Header */

.head{
	background-image: url(../img/header/banner.jpg);
	width: 100%;
	height: 149px;
	border-top-right-radius: 29px;
	border-top-left-radius: 29px;
}

/* Main Content Left */

.content_left{
	width: 848px;
}

/* Fonts */

h1{
	font-size: 24px;
}

h2{

}

h4{
	font-size: 16px;
}

h5{
	font-size: 13px;
}

p{

}

.date_time{
	float: right;
	margin: 20px 30px;
	width: 120px;
	height: 30px;

	font-size: 24px;
	font-weight: bold;
	color: white;
}

.login{
	border: solid #2E8D29 2px;
	margin: auto;
	margin-top: 60px;
	text-align: center;
	width: 380px;
	padding: 10px;
	border-radius: 30px;
	background: url(../img/login/background.jpg)no-repeat;
	background-size: 100%;
	line-height: 0.4;
}

.admin_article{
	border: solid 2px black;
}

.content_left{
	float: left;
	width: 160px;
}

.content_right{
	float: left;
	width: 215px;
	margin-top: 10px;
}

.content_right input{
	margin-top: 12px;
}

.content_right textarea{
	margin-top: 18px;
}

.content_next_right{
	float: left;
	width: 400px;
	margin-left: 50px;
	

	position: relative;
	top: -63px;
}